$colors: (
  primary: (
    light: $color-primary-light,
    dark: $color-primary-dark,
  ),
  secondary: (
    light: $color-secondary-light,
    dark: $color-secondary-dark,
  ),
  tertiary: (
    light: $color-tertiary-light,
    dark: $color-tertiary-dark,
  ),
);
