.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 3000;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 75%;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    overflow: hidden;
    display: table;
    min-height: 50rem;

    opacity: 0;
    transition: all 0.4s;
  }

  &__links {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    & a {
      margin: 2rem;
      text-align: center;
    }
  }

  &__left {
    width: 33.33%;
    display: table-cell;
    background-image: url("../Resourses/images/nat-9.jpg");
    background-size: cover;
    background-position: center;
  }

  &__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__text {
    font-size: 1.4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-gray-dark-2;
    hyphens: auto;
  }

  // POPUP
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // OPEN STATE
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    height: 2rem;
  }

  &__close--btn {
    &:link,
    &:visited {
      color: $color-gray-dark-2;
      font-size: 4rem;
      display: block;
      position: absolute;
      top: 0rem;
      right: 2rem;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
